@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;

  background-image: url("./img/bcg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  background-color: #ddd;
}

.wrapper-right {
  height: 25px;
  padding: 0.25rem;
  display: flex;
  justify-content: flex-end;
}
.wrapper-right img {
  object-fit: contain;
}

.sign-in-section {
  margin: 2rem;
}

h1 {
  text-align: center;
}

p {
  color: white;
  text-align: center;
  padding-bottom: 3rem;
}
p a {
  border-bottom: 3px solid white;
}

.username {
  background-color: white;
  height: 2.5em;
  margin-bottom: 1rem;
  display: flex;
}
.username input {
  padding: 0 1rem;
  height: 100%;
  width: calc(100% - 2.5rem);
}

.password {
  background-color: white;
  height: 2.5em;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
}
.password input {
  padding: 0 1rem;
  height: 100%;
  width: calc(100% - 5rem);
}
.password #show-or-hide {
  height: 100%;
  display: flex;
  align-items: center;
}

.icon {
  background-color: orange;
  width: 2.5rem;
  height: 100%;
}

#show {
  display: none;
}

.submit-section {
  display: flex;
  justify-content: space-between;
}
.submit-section button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: orange;
  color: white;
}
.submit-section div {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.submit-section label {
  display: flex;
  align-items: center;
}
.submit-section label input {
  accent-color: #333;
  margin-right: 0.5rem;
}

.some-text {
  margin-top: 2rem;
}
